<h1>These are your Drink Destinations!</h1>

<table class="table">
  <tr>
    <th>Drinkery</th>
    <th>Location</th>
    <th>Remove From Happy Hour List</th>
  </tr>
  <% @user_drinks.each do |user_drink| %>
  <tr>
    <td><%= user_drink.location.name%></td>
    <td><%= user_drink.location.address%></td>
    <td><%= link_to "Remove the Booze!", "/user_drinks/#{user_drink.id}", method: :delete %></td>
  </tr>
  <% end %>
</table>
