<h1>These are your Drink Destinations!</h1>

<table class="table">
  <tr>
    <th>Drinkery</th>
    <th>Remove From Happy Hour List</th>
  </tr>
  <% @user_drinks.each do |user_drink| %>
  <tr>
    <td><a href="/locations/<%= user_drink.location.id %>"><%= user_drink.ud_location_name%></a></td>
    <td><%= link_to "Remove the Booze!", "/user_drinks/#{user_drink.id}", method: :delete %></td>
  </tr>
  <% end %>
</table>
