<link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>

<div ng-controller="userCtrl" ng-init="setup()"> 
  <ul>
    <li ng-repeat="error in errors">{{ error }}</li>
  </ul>

  <h1 class="just-work animated bounceInDown">Potential Drinking Buddies</h1>

<div class="search-center">
  <label>Search Users</label>
  <input ng-model="userFilter">
  </div>
  <div class="row">
<div class="col-md-4"></div>
<div class="col-md-6 drinker-table">
<table class="table-center">

  <table>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Follow</th>
    </tr>
    <tr ng-repeat="user in users | filter: userFilter | orderBy: 'first_name'">
      <td>{{ user.first_name }}</td>
      <td>{{ user.last_name }}</td>
      <td><a href="/follows/{{user.id}}" METHOD >Follow This Drinkers</td>
      </td>
    </tr>
  </table> 
</div>
<div class="col-md-2"></div>
</div>
</div>

</div>

   <p><button><a href="/happy_hours/new">Hype a New Happy Hour></button></p> 
   <p><button><a href="/users/new">Add New user></button></p> 