<div ng-app="app" ng-controller="happyHourCtrl" ng-init = "setup()"> 

  <ul>
    <li ng-repeat="error in errors">{{ error }}</li>
  </ul>

  <h1>Happy Hour Postings from People like You!!!</h1>

  <label>Filter by XXXXXXXXXXXXX</label>
  <input ng-model="nameFilter">

<happy-hour-table> </happy-hour-table>

</div>






