<link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/animate.css">

<div ng-controller="happyHourCtrl" ng-init="setup()"> 


  <ul>
    <li ng-repeat="error in errors">{{ error }}</li>
  </ul>
  
  <h1 class="page-title animated bounceInDown">Happy Hour Hypes</h1>

  <div class="search-center"><label class="search">Search</label>
  <input ng-model="happyHourFilter"></div>
 <table>
   <tr>
     <th ng-click="changeFilter('location.name')">Name of Location</th>
     <th ng-click="changeFilter('author.first_name')">Name of Author</th>
     <th ng-click="changeFilter('hype_title')">Posting Title</th>
     <th ng-click="changeFilter('day_of_week')">Day of the Week</th>
     <th ng-click="changeFilter('start_hour')">Starting Time</th>
     <th ng-click="changeFilter('end_hour')">Ending Time</th>
     <th ng-click="changeFilter('hype_description')">Description</th>
     </tr>
   <tr ng-repeat="happy_hour in happy_hours | filter: happyHourFilter | orderBy: filterColumn">
     <td><a href ="/locations/{{happy_hour.location_id}}" >{{ happy_hour.location.name}}</a></td>
     <td>{{ happy_hour.author.first_name}}</td>
     <td>{{ happy_hour.hype_title }}</td>
     <td>{{ happy_hour.day_of_week }}</td>
     <td>{{ happy_hour.start_hour }}</td>
     <td>{{ happy_hour.end_hour }}</td>
     <td id="description">{{ happy_hour.hype_description }}</td>
   </tr>
 </table> 

</div>
   <p><button><a href="/happy_hours/new">Hype a New Happy Hour</button></p> 
   <p><button><a href="/locations/new">Add New Location</button></p> 





