<div ng-app="app">
  <div ng-controller="locationCtrl", ng-init="setup()">

    <head>Look at all these Drinkeries!!!</head>

<div class="row">
  <% @locations.each do |location| %>
  <div class="col-md-3">
    <div class="thumbnail">
      <a href="/locations/<%= location.id %>">
        <p><%= location.name %></p>      
      </a>
    </div>
  </div>
  <% end %>
</div>