<div ng-controller="locationCtrl" ng-init="setup()"> 
  <ul>
    <li ng-repeat="error in errors">{{ error }}</li>
  </ul>

  <h1 class="page-title">Look at all these Drinkeries!!!</h1>

  <label>Search</label>
  <input ng-model="locationFilter">
<div class="table">
  <table>
    <tr>
      <th ng-click="changeFilter('name')">Location Name</th>
      <th ng-click="changeFilter('vicinity')">Address</th>
      <th ng-click="changeFilter('type')">Type of Establishment</th>
    </tr>
    <tr ng-repeat="location in locations | filter: locationFilter | orderBy: filterColumn">
      <td><a href="/locations/{{location.id}}">{{ location.name }}</td>
      <td>{{ location.vicinity }}</td>
      <td>{{ location.type }}</td>
    </tr>
  </table> 
</div>

</div>

   <p><button><a href="/locations/new">Add New Location</button></p> 
   <p><button><a href="/happy_hours/new">Hype a New Happy Hour</button></p> 