
<div ng-app="app" ng-controller="locationCtrl" ng-init = "setup()"> 
  <ul>
    <li ng-repeat="error in errors">{{ error }}</li>
  </ul>

  <h1>Look at all these Drinkeries!!!</h1>

  <p>
    Name<input ng-model="name">
    <button ng-click = "addLocation(name)">Add a Location</button>
  </p>
  
  <label>Filter by Name</label>
  <input ng-model="nameFilter">

<location-table></location-table>

</div>