<div ng-app="app">
<div ng-controller="locationCtrl">
<h1>Locations</h1>

<div class="row">
  <div class="col-md-3" ng-repeat-start="element in array">
  {{element}}
  </div>
  <div class="clearfix" ng-if="($index + 1) % 4 == 0"></div>
  <div ng-repeat-end=""></div>
</div>

