<div ng-controller="locationCtrl" ng-init="setup()"> 
  <ul>
    <li ng-repeat="error in errors">{{ error }}</li>
  </ul>

  <h1>Look at all these Drinkeries!!!</h1>

  <label>Search Listings</label>
  <input ng-model="nameFilter">
<div class="table">
  <table>
    <tr>
      <th>Location Name</th>
      <th>Address</th>
    </tr>
    <tr ng-repeat="location in locations | filter: nameFilter | orderBy: 'name'">
      <td><a href ="/locations/{{location.id}}">{{ location.name }}</td>
      <td>{{ location.vicinity }}</td>
    </tr>
  </table> 
</div>

<!-- <location-table></location-table>
 -->
</div>

   <p><button><a href="/happy_hours/new">Hype a New Happy Hour</button></p> 
   <p><button><a href="/locations/new">Add New Location</button></p> 