
<div ng-app="app" ng-controller="locationCtrl" ng-init = "setup()"> 
    <head>Look at all these Drinkeries!!!</head>

<table>
  <tr>
    <th>Location Name</th>
    <th>Latitude</th>
    <th>Longitude</th>
  </tr>
  <tr ng-repeat="location in locations">
    <td>{{ location.name }}</td>
    <td>{{ location.lat }}</td>
    <td>{{ location.lng }}</td>
  </tr>
</table>

</div>