
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

</head>
<!-- Alternate Body Classes: .modern and .vintage -->

<body id="page-top" class="modern"  style="background-image: url('http://wallpoper.com/images/00/36/14/59/cocktail_00361459.jpg')">
    <!-- Instructions: Set your background image using the URL below. -->
    <header>
        <div class="intro-content">
            <img src="assets/img/culinary/profile.png" class="img-responsive img-centered" alt="">
        </div>  
    </header>
    <section id="values" class="services">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12 wow fadeIn">
                    <h1>Our Values</h1>
                    <hr class="colored">
                    <p>There is no reason to be dry at 5pm</p>
                </div>
            </div>
            <div class="row content-row">
                <div class="col-md-6 wow fadeIn">
                    <div class="media">
                        <div class="media-body">
                        <a href="/locations/">
                            <h3 class="media-heading">Locations</h3>
                            <ul>
                                <li><em>Oh, the places you'll go...</em>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 wow fadeIn">
                    <div class="media">
                        <div class="media-body">
                        <a href="/happy_hours/">
                            <h3 class="media-heading">Happy Hours</h3>
                            <ul>
                                <li><em>Oh, the deals you will find...</em>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer" style="background-image: url('assets/img/culinary/bg-footer.jpg')">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-4 contact-details">
                    <h4><i class="fa fa-phone"></i> Call</h4>
                    <p>555-213-4567</p>
                </div>
                <div class="col-md-4 contact-details">
                    <h4><i class="fa fa-map-marker"></i> Visit</h4>
                    <p>3481 Melrose Place
                        <br>Beverly Hills, CA 90210</p>
                </div>
                <div class="col-md-4 contact-details">
                    <h4><i class="fa fa-envelope"></i> Email</h4>
                    <p><a href="mailto:mail@example.com">mail@example.com</a>
                    </p>
                </div>
            </div>
            <div class="row social">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-facebook fa-fw fa-2x"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter fa-fw fa-2x"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin fa-fw fa-2x"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row copyright">
                <div class="col-lg-12">
                    <p class="small">&copy; 2015 Start Bootstrap Themes</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Core Scripts -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap/bootstrap.min.js"></script>
    <!-- Plugin Scripts -->
    <script src="assets/js/plugins/jquery.easing.min.js"></script>
    <script src="assets/js/plugins/classie.js"></script>
    <script src="assets/js/plugins/cbpAnimatedHeader.js"></script>
    <script src="assets/js/plugins/owl-carousel/owl.carousel.js"></script>
    <script src="assets/js/plugins/jquery.magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/plugins/background/core.js"></script>
    <script src="assets/js/plugins/background/transition.js"></script>
    <script src="assets/js/plugins/background/background.js"></script>
    <script src="assets/js/plugins/jquery.mixitup.js"></script>
    <script src="assets/js/plugins/wow/wow.min.js"></script>
    <script src="assets/js/contact_me.js"></script>
    <script src="assets/js/plugins/jqBootstrapValidation.js"></script>
    <!-- Vitality Theme Scripts -->
    <script src="assets/js/vitality.js"></script>
</body>

</html>



<!-- ^ working first page -->






















<div class="container" id="previews">
        <div class="row content-row">
            <div class="col-md-6">
                <div class="preview-pane">
                    <a href="/locations/">
                        <img src="assets/theme/demo/screenshot-agency.png" class="img-responsive img-centered" alt="">
                        <h3>Locations</h3>
                        <hr class="colored">
                        <p class="text-muted">Search By:</p>
                        <ul class="list-unstyled text-muted">
                            <li>
                                <em>Places to Drink</em>
                            </li>
                        </ul>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="preview-pane">
                    <a href="/happy_hours">
                        <img src="assets/theme/demo/screenshot-creative.png" class="img-responsive img-centered" alt="">
                        <h3>Happy Hours <span class="label label-primary"></span></h3>
                        <hr class="colored">
                        <p class="text-muted">Search By:</p>
                        <ul class="list-unstyled text-muted">
                            <li>
                                <em>Happy Hours</em>
                            </li>
                        </ul>
                    </a>
                </div>
            </div>
            <!-- <div class="col-md-4">
                <div class="preview-pane">
                    <a href="/images">
                        <img src="assets/theme/demo/screenshot-culinary.png" class="img-responsive img-centered" alt="">
                        <h3>Category</h3>
                        <hr class="colored">
                        <p class="text-muted">Seach By:</p>
                        <ul class="list-unstyled text-muted">
                            <li>
                                <em>Categories</em>
                            </li>
                        </ul>
                    </a>
                </div>
            </div> -->
        </div>