<div class="container" id="previews">
        <div class="row content-row">
            <div class="col-md-6">
                <div class="preview-pane">
                    <a href="/locations/">
                        <img src="assets/theme/demo/screenshot-agency.png" class="img-responsive img-centered" alt="">
                        <h3>Locations</h3>
                        <hr class="colored">
                        <p class="text-muted">Search By:</p>
                        <ul class="list-unstyled text-muted">
                            <li>
                                <em>Places to Drink</em>
                            </li>
                        </ul>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="preview-pane">
                    <a href="/happy_hours">
                        <img src="assets/theme/demo/screenshot-creative.png" class="img-responsive img-centered" alt="">
                        <h3>Happy Hours <span class="label label-primary"></span></h3>
                        <hr class="colored">
                        <p class="text-muted">Search By:</p>
                        <ul class="list-unstyled text-muted">
                            <li>
                                <em>Happy Hours</em>
                            </li>
                        </ul>
                    </a>
                </div>
            </div>
            <!-- <div class="col-md-4">
                <div class="preview-pane">
                    <a href="/images">
                        <img src="assets/theme/demo/screenshot-culinary.png" class="img-responsive img-centered" alt="">
                        <h3>Category</h3>
                        <hr class="colored">
                        <p class="text-muted">Seach By:</p>
                        <ul class="list-unstyled text-muted">
                            <li>
                                <em>Categories</em>
                            </li>
                        </ul>
                    </a>
                </div>
            </div> -->
        </div>